.search {
    display: flex;
    padding: $m-size 0;
    flex-direction: row;
}

.search__input {
    border-top: 0.1rem solid $secondary-dark;
    border-bottom: 0.1rem solid $secondary-dark;
    border-left: 0.1rem solid $secondary-dark;
    border-right: none;
    flex-grow: 1;
    margin: 0 0 $xs-size 0;
    padding: $sm-size;
    flex: 1;
    outline: none;
}

.clear-search-query-button {
    background:#fff;
    border-top: 0.1rem solid $secondary-dark;
    border-bottom: 0.1rem solid $secondary-dark;
    border-right: 0.1rem solid $secondary-dark;
    border-left: none;
    margin: 0 0 $xs-size 0;
    color: $secondary-dark;
    padding-right: $m-size;
    cursor: pointer;
    outline: none;
    font-size: $m-size;
    flex: 0 0 auto;
}